@import "tailwindcss";

.font-oswald {  
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.nav-link {
  position: relative;
  text-decoration: none;
  padding: 4px;
}
.nav-link-logout {
  position: relative;
  text-decoration: none;
  padding: 4px;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Ubica el borde debajo del texto */
  left: 0;
  width: 0;
  height: 2px;
  background-color: #a20adf;
  transition: width 0.3s ease;
}
.nav-link-logout::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Ubica el borde debajo del texto */
  left: 0;
  width: 0;
  height: 2px;
  background-color: #c70085;
  color: #c70085;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%; 
}
.nav-link-logout:hover::after {
  width: 100%;
}
