@import "tailwindcss";

.font-oswald {  
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.nav-link-login {
  position: relative;
  text-decoration: none;
}
.nav-link-logout {
  position: relative;
  text-decoration: none;
  padding: 4px;
}
.nav-link-register {
  position: relative;
  text-decoration: none;
}

.nav-link-login::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Ubica el borde debajo del texto */
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1b5c36;
  transition: width 0.3s ease;
}

.nav-link-register::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Ubica el borde debajo del texto */
  left: 0;
  width: 0;
  height: 2px;
  background-color: #B18423;
  transition: width 0.3s ease;
}

.nav-link-logout::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Ubica el borde debajo del texto */
  left: 0;
  width: 0;
  height: 2px;
  background-color: #c70085;
  color: #c70085;
  transition: width 0.3s ease;
}

.nav-link-login:hover::after {
  width: 100%; 
}

.nav-link-register:hover::after {
  width: 100%; 
}

.nav-link-logout:hover::after {
  width: 100%;
}

.cont::-webkit-scrollbar-track {
  border-radius: 10px;  
}
.contenedor::-webkit-scrollbar{
  -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical{
  width:5px;
}

.contenedor::-webkit-scrollbar-thumb{
  border-radius: 20px;
  border: 1px solid #fff;
}

.contenedor::-webkit-scrollbar-track{
  border-radius: 10px;  
}

.contenedor::-webkit-scrollbar:horizontal {
  height: 5px;
}